<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bienvenido a mi Curriculum </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="images/x-icon" href="images/favicon.icon">
    <link rel="stylesheet" href="/stylesheets/color.css"/>
  </head>
  <body>
    <Img src="images/Mi Perfil.jpg" class="m1">
      <h1>Joseph Ortega</h1>
        <ul class = "f1">
                  <li>Joseph Ortega Brea David</li>
                  <li>22 años</li>
                  <li>Fecha de Nacimiento 12-03-2001</li>
              </ul> 
  
      <div class ="T1">
      <hr/>
      <section class = "p2">
          <article>
          <hgroup> 
              <h2>Mi Perfil</h2> 
            
          <p>
              soy de maracay y recien me gradué de la <a href="https://unerg.edu.ve/"><b>Universidad Romulo Gallego</b></a> donde termine mis estudios de ingeniero informatico, porfin se como hackear la Nasa, bueno no, pero pricital me dedica a realizar juego y a su ves estoy aprendiendo a como diseñar 
          </p>
         
          </hgroup>
  </article>
      </section>
      <hr/>
  
       <section class ="p3" >
          <article>
          <hgroup> 
              <h2>Experiencian labodal</h2>   
          <p>
               Ante de terminar la carrera trabajaba en una ferreteria donde vendia producto de limpiesa,herramienta y tambien limpieva el local de trabajo
          </p>
          
          </hgroup>
  </article>
      </section>
      <hr/>
  
   <section class = "p4">
          <article>
          <hgroup> 
              <h2>hobby</h2>   
          <p>
               soy alquien que cambia su rutina diara y gracia a ellos pudo experimenta varios deporte como futbol, natacion y tecnica de defensa personal "boxeo"
  
          </p>
  
          
          </hgroup>
  </article>
      </section>
  <hr/>
  </div>
  <p class = "p1">
      si quiere hablar conmigo aqui te dejo mi enlace de
  <a href="https://www.facebook.com/joseph.ortega.98499123/">Facebook</a> o si queie dejar un <a href="com">comentario</a>
  </p>
  
  </body>
</html>
