*{
    background: wheat;
}

hr {
    background: gray;
}

h2{
    margin-left: 250px;
    margin-right: 200px;
    
}
h3{
    background: white;
    margin-left: auto;
    margin-right: auto;


}

select, option{
    
    background: white;
}



form {

    width: 25% ;
    background: white;
    border: 1px solid rebeccapurple;
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}


label{
    background: white;
    font-size:12px;
    display: block;
    width: 100%
}

textarea{
    background: white;
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

input, textarea{
    background: white;
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rebeccapurple;

}

input:focus , textarea:focus{
    border: 1px solid rebeccapurple;
}

input[type="submit"]{
    margin-bottom: 0;
    background: #1668c4;
    color: #fff;
    border: none;
}

input[type="submit"]{
   background: #4a88fa;
   cursor: pointer;
}

